// General middot list.
[class^="o-dotlist--"],
[class*=" o-dotlist--"],
.o-dotlist-wrap ul {
  list-style: none;
  padding-left: 0;
  li:before {
    content: "\b7\a0";
  }
}

// Inline dotlist.
.o-dotlist--inline {
  li {
    display: inline-block;
    padding-left: em($ratio--xxs);
    &:before {
      margin-right: em($ratio--xxs);
    }
  }
  li:first-child {
    padding-left: 0;
    &:before {display: none; }
  }
}

// Stacked list items.
.o-dotlist--stacked {
  li {
    position: relative;
    padding-left: em($ratio--b);
    &:before {
      position: absolute;
      left: 0;
    }
  }
}

// Aligned with left text edge.
.o-dotlist--aligned,
.o-dotlist-wrap {
  li {
    position: relative;
    &:before {
      position: absolute;
      left: em(-$ratio--b);
    }
  }
}