// .o-nav__link--selected
// Selector for Wordpress.
.current-menu-item a {
  border-bottom: $line--s solid;
  @include state--all {
    color: $c-grey8;
  }
}
.o-nav__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  @include media($tablet__up) {
    padding-left: em($ratio--l);
  }
  // Target for Wordpress without custom Walker Menu.
  li {
    margin-bottom: em($ratio--s);
  }
  @include media($phone--landscape) {
    li {
      display: inline-block;
    }
    li + li {
      margin-left: em($ratio--b);
    }
  }
}
