// Authors, Wordpress selectors.
.o-namelist,
.o-loop__aside ul {
  @include clearfix;
  @include reset-list;
}
.o-namelist__item,
.o-loop__aside li {
  margin-bottom: em($ratio--s);
}
// .o-namelist__link
.o-namelist__item a {
  display: block;
  text-decoration: none;
}
.o-namelist__selected {
  text-decoration: underline;
  @include state--all {
    color: black;
  }
}

// Pagination
.o-pagination {
  list-style: none;
  padding-left: 0;
}
.o-pagination__item {
  display: inline-block;
  & + & {
    margin-left: em($ratio--s);
  }
}
// [class^="o-pagination__link"],
// [class*=" o-pagination__link"],
.o-pagination__item a,
.o-pagination__item span {
  display: inline-block;
  padding: em($ratio--xs);
  text-decoration: none;
  border-bottom: $line--s solid;
}
// .o-pagination__link--selected

// Dotlist.
.o-dotlist__item--nostyle {
  &:before {
    display: none;
  }
}

// Color block.
.o-color-block {
  background-color: $c-grey2;
  padding: em($ratio--s);
  overflow: auto;
  @include collapse-children;
}
.o-color-block--1 {
  color: $c-color1--dark;
  background-color: $c-color1--light;
}
.o-color-block--2 {
  color: $c-color2--dark;
  background-color: $c-color2--light;
}
.o-color-block--3 {
  color: $c-color3--dark;
  background-color: $c-color3--light;
}
.o-color-block--4 {
  color: $c-color4--dark;
  background-color: $c-color4--light;
}

@include media($phone--landscape__up) {
  .o-namelist__item,
  .o-loop__aside li {
    float: left;
    width: em($width--s);
    margin-right: em($ratio--m);
  }
}
@include media($tablet--landscape__up) {
  .o-namelist__item,
  .o-loop__aside li {
    width: em($width--b);
  }
}