// Authors, Wordpress selectors.
.o-people,
.o-loop__aside ul {
  @include clearfix;
  @include reset-list;
}
.o-people__item,
.o-loop__aside li {
  float: left;
  // display: inline-block;
  // @include span-columns(2);
  // @include omega(5n);
  width: em($width--b);
  margin-bottom: em($ratio--s);
  vertical-align: top;
}
.o-people__link {
  display: block;
  text-decoration: none;
}
.o-people__selected {
  @include state--all {
    color: black;
  }
}

// Pagination
.o-pagination {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.o-pagination__item {
  display: inline-block;
  & + & {
    margin-left: em($ratio--xs);
  }
}
[class^="o-pagination__link"],
[class*=" o-pagination__link"] {
  display: inline-block;
  padding: em($ratio--xs);
  text-decoration: none;
  border-bottom: $line--s solid;
}
// .o-pagination__link--selected {
// }

// Dotlist.
.o-dotlist__item--nostyle {
  &:before {
    display: none;
  }
}

// Color block.
.o-color-block {
  background-color: $c-grey2;
  padding: em($ratio--s);
  overflow: auto;
  @include collapse-children;
}
.o-color-block--1 {
  color: $c-color1--dark;
  background-color: $c-color1--light;
}
.o-color-block--2 {
  color: $c-color2--dark;
  background-color: $c-color2--light;
}
.o-color-block--3 {
  color: $c-color3--dark;
  background-color: $c-color3--light;
}
.o-color-block--4 {
  color: $c-color4--dark;
  background-color: $c-color4--light;
}
// .o-color-block--5 {
//   color: $c-grey7;
//   background-color: $c-grey3;
// }