block template-variables
  - var pageSettings = {index: null}
  - var metaSettings = {title: "ARF", description: "Ateliér reklamní fotografie."}

doctype
html.no-js(lang="cs")
  head
    block template-head
      include ../partials/_html-head

  body
    #js-pjax
      block template-body
        p Basic template.

    block template-foot
      include ../partials/_html-foot