script(src="http://code.jquery.com/jquery-latest.min.js")

<!-- build:remove -->
script window.jQuery || document.write("<script src='bower_components/jquery/dist/jquery.js'><\/script>")
<!-- endbuild -->

<!-- build:js assets/js/arf-min.js -->
script(src="bower_components/jquery-pjax/jquery.pjax.js")
script(src="assets/js/arf.js")
<!-- endbuild -->