// Container.
.l-container {
  margin-left: em($ratio--h);
}

// Section.
.l-section--light {
  @include rgba(background-color, $c-grey4, .25);
}

// Grid columns.
.l-column--primary {
  @include span-columns($column--one);
}
.l-column--secondary {
  @include span-columns($column--two);
}

// Shift.
.l-shift {
  @include shift($column--one);
}

.l-divider {
  border-color: transparent;
  margin: 0;
  height: em($ratio--l);
}