// Container.
.l-container {
  // background-color: $c-grey1;
  max-width: em(1440);
  @include media($tablet__up) {
    margin-left: em($width--b);
  }
}

// Grid columns.
@include media($tablet--landscape__up) {
  .l-column--primary {
    @include span-columns($column--one);
  }
  .l-column--secondary {
    @include span-columns($column--two);
  }
}

// Shift.
.l-shift {
  @include shift($column--one);
}

[class^="l-divider"],
[class*=" l-divider"] {
  border-color: transparent;
  margin: 0;
  height: em($ratio--m);
}
.l-divider--small {
  height: em($ratio--b);
}

@include media($tablet__up) {
  .l-divider {
    height: em($ratio--xl);
  }
}