// Container.
.l-container {
  // background-color: $c-grey1;
  max-width: em(1440);
  @include media($tablet__up) {
    margin-left: em($width--b);
  }
}

// Grid columns.
.l-column--primary {
  @include span-columns($column--one);
}
.l-column--secondary {
  @include span-columns($column--two);
}

// Shift.
.l-shift {
  @include shift($column--one);
}

[class^="l-divider"],
[class*=" l-divider"] {
  border-color: transparent;
  margin: 0;
  height: em($ratio--xl);
}
.l-divider--small {
  height: em($ratio--b);
}

// .l-lower {
//   margin-top: em($ratio--l);
// }