.m-contact {
  @include clearfix;
  & + & {
    margin-top: em($ratio--l);
  }
}

// About.
.m-about__image {
  @include margin(em($ratio--m) null);
  max-width: 100%;
}
.m-about__content {
  overflow: auto;
  @include collapse-children;
  // margin-top: em(-$ratio--h);
  // margin-right: em($ratio--b);
}

// Person.
.m-person {
  @include clearfix;
  @include margin(em($ratio--l) null);
}
.m-person__name {
  @include span-columns(4);
  @include collapse-children;
}
.m-person__bio {
  @include span-columns(6);
}
.m-person__contact {
  float: left;
  clear: both;
  a {
    color: inherit;
  }
}