.m-contact {
  @include clearfix;
  & + & {
    margin-top: em($ratio--l);
  }
}

// Generic Wordpress page layout.
.m-page__image {
  @include margin(em($ratio--m) null);
  max-width: 100%;
}
.m-page__content {
  overflow: auto;
  @include collapse-children;
  // margin-top: em(-$ratio--h);
  // margin-right: em($ratio--b);
}

// Person and single exhibition.
.m-single {
  @include clearfix;
  margin-top: em($ratio--l);
}
.m-single--person {
  margin-bottom: em($ratio--l);
}
.m-single__name {
  @include span-columns(4);
  @include collapse-children;
}
.m-single__bio {
  @include span-columns(6);
}
.m-single__contact {
  float: left;
  clear: both;
  a {
    color: inherit;
  }
}