* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  overflow-y: scroll; }

hr {
  border-top: 1px solid;
  border-bottom: none;
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: #a6a49f;
  border-color: rgba(166, 164, 159, 0.5); }

img {
  display: block; }

canvas, iframe {
  display: block;
  width: 100%; }

table {
  width: 100%; }

input[type="text"], input[type="password"], textarea {
  width: 100%; }

body {
  font: 400 0.875em "Inconsolata", monospace;
  line-height: 1.4; }

::selection {
  background-color: #fff2b3;
  color: #b39500;
  text-shadow: none; }

.o-button-group--inline [class^="o-button--"], .o-button-group--inline [class*=" o-button--"] {
  margin-left: 0.64286em; }
  .o-button-group--inline [class^="o-button--"]:first-child, .o-button-group--inline [class*=" o-button--"]:first-child {
    margin-left: 0; }

.o-button-group--stacked {
  text-align: center; }
  .o-button-group--stacked [class^="o-button--"], .o-button-group--stacked [class*=" o-button--"] {
    display: block;
    margin-top: 0.64286em; }
    .o-button-group--stacked [class^="o-button--"]:first-child, .o-button-group--stacked [class*=" o-button--"]:first-child {
      margin-top: 0; }

.o-input {
  height: 2.85714em;
  padding: 0 0.64286em;
  border: 1px solid;
  background-color: transparent;
  -webkit-appearance: none;
  border-radius: 0; }
  .o-input:focus {
    outline: 0; }

.o-submit {
  height: 2.85714em;
  padding: 0 1em;
  border: 1px solid;
  background-color: transparent;
  border-radius: 0; }
  .o-submit:focus {
    outline: 0; }

.o-tabs {
  padding-left: 0; }
  .o-tabs:after {
    content: "";
    display: table;
    clear: both; }

.o-tabs__item {
  display: inline; }

.o-tabs__link {
  display: inline-block;
  padding: 0 0.35714em 0.35714em;
  text-decoration: none;
  margin-bottom: -1px; }

.o-tabs__content {
  width: 100%;
  border-top: 1px solid #e5e4e1; }

.tab--is-active:link, .tab--is-active:visited, .tab--is-active:hover, .tab--is-active:active, .tab--is-active:focus {
  color: black;
  border-bottom: 1px solid #a6a49f; }

.tab--is-open {
  display: block;
  float: left; }

.o-textarea {
  padding: 0.64286em;
  border: 1px solid;
  background-color: transparent;
  -webkit-appearance: none;
  border-radius: 0; }
  .o-textarea:focus {
    outline: 0; }

.t-h1 {
  font-size: 1.28571em;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  margin-top: 0.35714em;
  margin-bottom: 0.35714em;
  letter-spacing: 0.0625em;
  line-height: 1.1; }

.t-h2 {
  font-size: 1.28571em;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  margin-top: 0.35714em;
  margin-bottom: 0.35714em;
  letter-spacing: 0.125em; }

.t-h3 {
  font-size: 1em;
  line-height: 1.3; }

.t-h4 {
  font-size: 1em; }

[class^="t-caps"], [class*=" t-caps"] {
  letter-spacing: 0.125em;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 400; }

.t-caps--small {
  font-size: 0.71429em; }

.t-date {
  font-family: "Inconsolata", monospace;
  font-size: 0.85714em;
  letter-spacing: 0.25em; }

.t-lead {
  font-size: 1.28571em; }

.t-small {
  font-size: 0.85714em; }

/*
 * Site Styles
 */
body {
  overflow-x: hidden; }

p {
  font-family: "Helvetica", sans-serif; }

.o-namelist, .o-loop__aside ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }
  .o-namelist:after, .o-loop__aside ul:after {
    content: "";
    display: table;
    clear: both; }

.o-namelist__item, .o-loop__aside li {
  float: left;
  width: 11.42857em;
  margin-bottom: 0.64286em;
  vertical-align: top; }

.o-namelist__item a {
  display: block;
  text-decoration: none; }

.o-namelist__selected {
  text-decoration: underline; }
  .o-namelist__selected:link, .o-namelist__selected:visited, .o-namelist__selected:hover, .o-namelist__selected:active, .o-namelist__selected:focus {
    color: black; }

.o-pagination {
  list-style: none;
  padding-left: 0; }

.o-pagination__item {
  display: inline-block; }
  .o-pagination__item + .o-pagination__item {
    margin-left: 0.64286em; }

.o-pagination__item a, .o-pagination__item span {
  display: inline-block;
  padding: 0.35714em;
  text-decoration: none;
  border-bottom: 1px solid; }

.o-dotlist__item--nostyle:before {
  display: none; }

.o-color-block {
  background-color: #e5e4e1;
  padding: 0.64286em;
  overflow: auto; }
  .o-color-block > :first-child {
    margin-top: 0; }
  .o-color-block > :last-child {
    margin-bottom: 0; }

.o-color-block--1 {
  color: #112172;
  background-color: #c2cbf8; }

.o-color-block--2 {
  color: #720b1c;
  background-color: #fbdce1; }

.o-color-block--3 {
  color: #594a00;
  background-color: #fff2b3; }

.o-color-block--4 {
  color: #175f53;
  background-color: #c9f2eb; }

@media screen and (min-width: 57.21429em)  {
  .o-namelist__item, .o-loop__aside li {
    width: 14.28571em; }
 }

.o-logo {
  display: inline-block;
  width: 10em;
  height: 8.21429em;
  overflow: hidden;
  text-decoration: none; }
  .o-logo:link, .o-logo:visited {
    opacity: 1; }
  .o-logo:hover, .o-logo:active, .o-logo:focus {
    opacity: 0.75; }

.o-logo__image {
  width: 10em; }

.o-logo__break {
  display: block; }

[class^="o-dotlist--"], [class*=" o-dotlist--"], .o-dotlist-wrap ul {
  list-style: none;
  padding-left: 0; }
  [class^="o-dotlist--"] li:before, [class*=" o-dotlist--"] li:before, .o-dotlist-wrap ul li:before {
    content: "\b7\a0"; }

.o-dotlist--inline li {
  display: inline-block;
  padding-left: 0.21429em; }
  .o-dotlist--inline li:before {
    margin-right: 0.21429em; }
.o-dotlist--inline li:first-child {
  padding-left: 0; }
  .o-dotlist--inline li:first-child:before {
    display: none; }

.o-dotlist--stacked li {
  position: relative;
  padding-left: 1em; }
  .o-dotlist--stacked li:before {
    position: absolute;
    left: 0; }

.o-dotlist--aligned li, .o-dotlist-wrap li {
  position: relative; }
  .o-dotlist--aligned li:before, .o-dotlist-wrap li:before {
    position: absolute;
    left: -1em; }

@media screen and (max-width: 40em)  {
  .o-header {
    text-align: center;
    padding-top: 1.64286em; } }
@media screen and (min-width: 40.07143em)  {
  .o-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.64286em; } }

.o-loop__item:after {
  content: "";
  display: table;
  clear: both; }

.o-loop__footer {
  margin-top: 2.64286em; }

.o-loop__image {
  max-width: 100%;
  height: auto; }

@media screen and (max-width: 40em)  {
  .o-loop__aside {
    margin-top: 1em;
    margin-bottom: 1em; }

  .o-loop__title {
    margin-bottom: 1em; }

  .o-loop__item + .o-loop__item {
    margin-top: 1.64286em; }

  .o-loop__content, .o-loop__photo {
    margin-top: 0.64286em; }
 }

@media screen and (min-width: 40.07143em)  {
  .o-loop__aside {
    float: left;
    margin-right: 0; }

  .o-loop__photo {
    margin-top: 1em; }

  .o-loop__title {
    margin-bottom: 1.64286em; }
 }

@media screen and (min-width: 40.07143em) and (max-width: 57.14286em)  {
  .o-loop__aside {
    margin-top: 1.64286em;
    margin-bottom: 1.64286em; }

  .o-loop__content {
    margin-top: 1em; }

  .o-loop__item + .o-loop__item {
    margin-top: 4.21429em; }

  .o-loop__photo--1 {
    float: left; }

  .o-loop__photo--2 {
    margin-left: 16.94291%; }

  .o-loop__photo--3 {
    float: left;
    display: block;
    margin-right: 3.37079%;
    width: 65.54307%; }
    .o-loop__photo--3:last-child {
      margin-right: 0; }

  .o-loop__photo--4 {
    margin-left: 17.22846%; }

  .o-loop__item--1 .o-loop__thumbnail {
    margin-left: 17.22846%; }
  .o-loop__item--1 .o-loop__content {
    float: left;
    display: block;
    margin-right: 3.37079%;
    width: 65.54307%; }
    .o-loop__item--1 .o-loop__content:last-child {
      margin-right: 0; }

  .o-loop__item--2 .o-loop__thumbnail {
    float: left;
    display: block;
    margin-right: 3.37079%;
    width: 82.77154%; }
    .o-loop__item--2 .o-loop__thumbnail:last-child {
      margin-right: 0; }
  .o-loop__item--2 .o-loop__content {
    float: left;
    margin-left: 17.22846%; }

  .o-loop__item--3 .o-loop__thumbnail {
    margin-left: 34.45693%; }

  .o-loop__item--4 .o-loop__thumbnail {
    margin-left: 34.45693%; }
  .o-loop__item--4 .o-loop__content {
    float: left;
    display: block;
    margin-right: 3.37079%;
    width: 65.54307%; }
    .o-loop__item--4 .o-loop__content:last-child {
      margin-right: 0; }
 }

@media screen and (min-width: 57.21429em)  {
  .o-loop__aside {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 40.69982%;
    margin-left: 8.47145%;
    margin-top: 2.64286em;
    margin-bottom: 2.64286em; }
    .o-loop__aside:last-child {
      margin-right: 0; }

  .o-loop__item + .o-loop__item {
    margin-top: 6.85714em; }

  .o-loop__photo--1 {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 83.05709%; }
    .o-loop__photo--1:last-child {
      margin-right: 0; }

  .o-loop__photo--2 {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 49.17127%;
    margin-left: 16.94291%; }
    .o-loop__photo--2:last-child {
      margin-right: 0; }

  .o-loop__photo--3 {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 49.17127%; }
    .o-loop__photo--3:last-child {
      margin-right: 0; }

  .o-loop__photo--4 {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 66.11418%;
    margin-left: 16.94291%; }
    .o-loop__photo--4:last-child {
      margin-right: 0; }

  .o-loop__item--1 .o-loop__title {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 32.22836%; }
    .o-loop__item--1 .o-loop__title:last-child {
      margin-right: 0; }
  .o-loop__item--1 .o-loop__thumbnail {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 49.17127%; }
    .o-loop__item--1 .o-loop__thumbnail:last-child {
      margin-right: 0; }
  .o-loop__item--1 .o-loop__content {
    margin-top: 1em;
    clear: both;
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 32.22836%;
    margin-left: 16.94291%; }
    .o-loop__item--1 .o-loop__content:last-child {
      margin-right: 0; }

  .o-loop__item--2 .o-loop__title {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 15.28545%; }
    .o-loop__item--2 .o-loop__title:last-child {
      margin-right: 0; }
  .o-loop__item--2 .o-loop__thumbnail {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 49.17127%; }
    .o-loop__item--2 .o-loop__thumbnail:last-child {
      margin-right: 0; }
  .o-loop__item--2 .o-loop__content {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 32.22836%;
    margin-right: 0; }
    .o-loop__item--2 .o-loop__content:last-child {
      margin-right: 0; }

  .o-loop__item--3 .o-loop__thumbnail {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 66.11418%; }
    .o-loop__item--3 .o-loop__thumbnail:last-child {
      margin-right: 0; }
  .o-loop__item--3 .o-loop__content {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 32.22836%;
    margin-right: 0; }
    .o-loop__item--3 .o-loop__content:last-child {
      margin-right: 0; }

  .o-loop__item--4 .o-loop__title {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 32.22836%; }
    .o-loop__item--4 .o-loop__title:last-child {
      margin-right: 0; }
  .o-loop__item--4 .o-loop__thumbnail {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 66.11418%;
    margin-right: 0; }
    .o-loop__item--4 .o-loop__thumbnail:last-child {
      margin-right: 0; }
  .o-loop__item--4 .o-loop__content {
    margin-top: 1em;
    clear: both;
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 49.17127%; }
    .o-loop__item--4 .o-loop__content:last-child {
      margin-right: 0; }
 }

.current-menu-item a {
  border-bottom: 1px solid; }
  .current-menu-item a:link, .current-menu-item a:visited, .current-menu-item a:hover, .current-menu-item a:active, .current-menu-item a:focus {
    color: #18191a; }

.o-nav__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }
  @media screen and (min-width: 40.07143em)  {
    .o-nav__list {
      padding-left: 2.64286em; } }
  .o-nav__list li {
    margin-bottom: 0.64286em; }
  @media screen and (max-width: 40em)  {
    .o-nav__list li {
      display: inline-block;
      margin-right: 1em;
      margin-left: 1em; }
 }

[class^="o-button"], [class*=" o-button"] {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid; }
  br + [class^="o-button"], br + [class*=" o-button"] {
    margin-top: 0.64286em; }

.o-button--selected {
  cursor: default; }
  .o-button--selected:link, .o-button--selected:visited, .o-button--selected:hover, .o-button--selected:active, .o-button--selected:focus {
    color: black; }

.o-button--dark:link, .o-button--dark:visited {
  color: #7a7d80; }
.o-button--dark:hover, .o-button--dark:active, .o-button--dark:focus {
  color: #a6a49f; }

.o-button--light:link, .o-button--light:visited {
  color: #cccac6; }
.o-button--light:hover, .o-button--light:active, .o-button--light:focus {
  color: #a6a49f; }

.m-contact:after {
  content: "";
  display: table;
  clear: both; }
.m-contact + .m-contact {
  margin-top: 2.64286em; }

.m-page__image {
  margin-top: 1.64286em;
  margin-bottom: 1.64286em;
  max-width: 100%; }

.m-page__content {
  overflow: auto; }
  .m-page__content > :first-child {
    margin-top: 0; }
  .m-page__content > :last-child {
    margin-bottom: 0; }

.m-single {
  margin-top: 2.64286em; }
  .m-single:after {
    content: "";
    display: table;
    clear: both; }

.m-single--person {
  margin-bottom: 2.64286em; }

.m-single__name {
  float: left;
  display: block;
  margin-right: 1.65746%;
  width: 32.22836%; }
  .m-single__name:last-child {
    margin-right: 0; }
  .m-single__name > :first-child {
    margin-top: 0; }
  .m-single__name > :last-child {
    margin-bottom: 0; }

.m-single__bio {
  float: left;
  display: block;
  margin-right: 1.65746%;
  width: 49.17127%; }
  .m-single__bio:last-child {
    margin-right: 0; }

.m-single__contact {
  float: left;
  clear: both; }
  .m-single__contact a {
    color: inherit; }

@media screen and (max-width: 40em)  {
  .m-people {
    display: none; }
 }

.l-container {
  max-width: 102.85714em; }
  @media screen and (min-width: 40.07143em)  {
    .l-container {
      margin-left: 14.28571em; } }

@media screen and (min-width: 57.21429em)  {
  .l-column--primary {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 32.22836%; }
    .l-column--primary:last-child {
      margin-right: 0; }

  .l-column--secondary {
    float: left;
    display: block;
    margin-right: 1.65746%;
    width: 66.11418%; }
    .l-column--secondary:last-child {
      margin-right: 0; }
 }

.l-shift {
  margin-left: 33.88582%; }

[class^="l-divider"], [class*=" l-divider"] {
  border-color: transparent;
  margin: 0;
  height: 1.64286em; }

.l-divider--small {
  height: 1em; }

@media screen and (min-width: 40.07143em)  {
  .l-divider {
    height: 4.21429em; }
 }

.l-wrap {
  padding: 1.64286em;
  margin-right: auto;
  margin-left: auto; }
  .l-wrap:after {
    content: "";
    display: table;
    clear: both; }
  .l-wrap > :first-child {
    margin-top: 0; }
  .l-wrap > :last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 40.07143em) and (max-width: 73.14286em)  {
    .l-wrap {
      padding: 2.64286em; } }
  @media screen and (min-width: 73.21429em)  {
    .l-wrap {
      padding: 2.64286em 6.5%; } }
  @media screen and (min-width: 102.92857em)  {
    .l-wrap {
      padding: 2.64286em 10%; } }

.l-wrap--small {
  padding-top: 0.64286em;
  padding-bottom: 0.64286em; }
  @media screen and (min-width: 40.07143em) and (max-width: 57.14286em)  {
    .l-wrap--small {
      padding-top: 1em;
      padding-bottom: 1em; } }
  @media screen and (min-width: 57.21429em)  {
    .l-wrap--small {
      padding-top: 1.64286em;
      padding-bottom: 1.64286em; } }

.l-wrap--big {
  padding-top: 1.64286em;
  padding-bottom: 1.64286em; }
  @media screen and (min-width: 40.07143em) and (max-width: 57.14286em)  {
    .l-wrap--big {
      padding-top: 2.64286em;
      padding-bottom: 2.64286em; } }
  @media screen and (min-width: 57.21429em)  {
    .l-wrap--big {
      padding-top: 4.21429em;
      padding-bottom: 4.21429em; } }

.l-wrap--vertical {
  padding-left: 0;
  padding-right: 0; }

.l-wrap--horizontal {
  padding-top: 0;
  padding-bottom: 0; }

.l-wrap--no-top {
  padding-top: 0; }

.l-wrap--no-bottom {
  padding-bottom: 0; }

.l-block-group:after {
  content: "";
  display: table;
  clear: both; }

[class^="l-block--"] > :first-child, [class*=" l-block--"] > :first-child {
  margin-top: 0; }
[class^="l-block--"] > :last-child, [class*=" l-block--"] > :last-child {
  margin-bottom: 0; }

@media screen and (max-width: 40em)  {
  [class^="l-block--"] + [class^="l-block--"], [class*=" l-block--"] + [class*=" l-block--"] {
    margin-top: 1.64286em; }
 }

@media screen and (min-width: 40.07143em)  {
  .l-block--one {
    float: left; }

  .l-block--normal {
    overflow: auto; }
 }

@media screen and (min-width: 40.07143em) and (max-width: 57.14286em)  {
  .l-block--one {
    width: 11.42857em; }
 }

@media screen and (min-width: 57.21429em)  {
  .l-block--one {
    width: 14.28571em; }
    .l-block--one + .l-block--one {
      margin-left: 1em; }
 }

.l-inline__cell:first-child > :first-child {
  margin-top: 0; }

@media screen and (max-width: 40em)  {
  .l-inline {
    margin-top: 1em;
    margin-bottom: 1em; }
 }

@media screen and (min-width: 40.07143em)  {
  .l-inline {
    display: table;
    width: 100%; }

  .l-inline__row {
    display: table-row; }

  .l-inline__cell {
    display: table-cell;
    vertical-align: middle; }
    .l-inline__cell:first-child {
      text-align: left; }
    .l-inline__cell:last-child {
      text-align: right; }
 }

[class^="t-highlight"], [class*=" t-highlight"] {
  outline: 3px solid red; }

.t-break {
  display: block; }

.t-subhead {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0.64286em 0;
  letter-spacing: 0.125em; }

a:link {
  color: black; }
a:visited {
  color: #7a7d80; }
a:hover, a:active, a:focus {
  color: #2243e5; }

nav a {
  text-decoration: none; }

.t-link--simple {
  text-decoration: none; }
  .t-link--simple span {
    border-bottom: 1px solid;
    padding-bottom: 0.21429em; }

.o-header:hover {
  z-index: 200; }

.sg-color {
  text-align: center; }

.sg-color__group {
  margin: 2.64286em 0; }

[class^="sg-color__swatch"], [class*=" sg-color__swatch"] {
  position: relative;
  display: inline-block;
  width: 11.07143em;
  height: 11.07143em;
  border-radius: 50%;
  background-color: black;
  margin: 0.64286em; }

.sg-color__swatch--small {
  width: 2.64286em;
  height: 2.64286em;
  margin: 0.35714em; }

.sg-color__field {
  position: relative;
  text-align: center;
  height: 40vh; }

.sg-color__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2.64286em; }
  .sg-color__overlay:before {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle; }

[class^="sg-color__glyph"] + [class^="sg-color__glyph"], [class*=" sg-color__glyph"] + [class*=" sg-color__glyph"] {
  margin-left: 25vw; }

.sg-color__glyph--white {
  color: white; }

.sg-color__glyph--black {
  color: black; }

.sg-background--main1 {
  background-color: #2243e5; }

.sg-background--main2 {
  background-color: #e61739; }

.sg-background--main3 {
  background-color: #b39500; }

.sg-background--main4 {
  background-color: #30bfa7; }

.sg-background--main1--light {
  background-color: #c2cbf8; }

.sg-background--main2--light {
  background-color: #fbdce1; }

.sg-background--main3--light {
  background-color: #fff2b3; }

.sg-background--main4--light {
  background-color: #c9f2eb; }

.sg-background--grey1 {
  background-color: #f2f1f0; }

.sg-background--grey2 {
  background-color: #e5e4e1; }

.sg-background--grey3 {
  background-color: #cccac6; }

.sg-background--grey4 {
  background-color: #a6a49f; }

.sg-background--grey5 {
  background-color: #7a7d80; }

.sg-background--grey6 {
  background-color: #565759; }

.sg-background--grey7 {
  background-color: #3d3e40; }

.sg-background--grey8 {
  background-color: #18191a; }
