// Primary colors.
$c-color1: hsb(230, 085, 090);
$c-color2: hsb(350, 090, 090);
$c-color3: hsb(050, 100, 070);
$c-color4: hsb(170, 075, 075);

// Shades.
$c-color1--light: lighten($c-color1, 35%);
$c-color2--light: tint($c-color2, 85%);
$c-color3--light: lighten($c-color3, 50%);
$c-color4--light: lighten($c-color4, 40%);

$c-color1--dark: shade($c-color1, 50%);
$c-color2--dark: shade($c-color2, 50%);
$c-color3--dark: shade($c-color3, 50%);
$c-color4--dark: shade($c-color4, 50%);

// Neutral colors.
$c-grey1: hsb(040, 01, 95);
$c-grey2: hsb(040, 02, 90);
$c-grey3: hsb(040, 03, 80);
$c-grey4: hsb(040, 04, 65);
$c-grey5: hsb(210, 04, 50);
$c-grey6: hsb(210, 04, 35);
$c-grey7: hsb(210, 04, 25);
$c-grey8: hsb(210, 04, 10);

// Interactive.
$c-link: black;
$c-visited: $c-grey5;
$c-hover: $c-color1;
$c-select--bg: $c-color3--light;
$c-select--text: $c-color3;