// Families.
$font__sans: "Helvetica", sans-serif;
$font__serif: "Times", serif;
$font__mono: "Inconsolata", monospace;

// Weights.
$font__sans--regular: normal;
$font__sans--bold: bold;

$font__serif--regular: normal;
$font__serif--bold: bold;

$font__mono--regular: 400;
$font__mono--bold: 700;

// Defaults.
$default__size: $unit--b;
$default__family: $font__mono;
$default__weight: $font__mono--regular;
$default__leading: 1.4;