extends templates/_basic

append template-variables
  - var pageSettings = {index: 1}

block template-body
  include partials/_header

  main.l-container
    .l-wrap
      h1.t-subhead Students
      - var peopleCount = 20
      include partials/_people
      hr.l-divider--small
      h2.t-subhead Graduates
      - var peopleCount = 20
      include partials/_people