extends templates/_basic

append template-variables
  - var pageSettings = {index: 3}

block template-body
  include partials/_header

  main.l-container
    .l-wrap
      .l-block-group
        .l-block--one
          ul.o-dotlist--aligned
            li.o-dotlist__item--nostyle
              strong Photogether Gallery
            li Health Center Bunker
            li Tr. Tomáše Bati 3705
            li 760 01 Zlín, Czech Republic
          a.o-button(href="https://www.google.cz/maps/place/Zl%C3%ADnsk%C3%A1+poliklinika/@49.220964,17.655386,17z/data=!3m1!4b1!4m2!3m1!1s0x4713734cdd2b9a45:0x6523c9e938bb821b") Map
          br
          a.o-button(href="https://www.facebook.com/photogethergallery") Facebook
          br
          a.o-button(href="http://vimeo.com/photogether") Vimeo
          br
          a.o-button(href="mailto:galleryphotogether@gmail.com") E-mail
        .l-block--one
          ul.o-dotlist--aligned
            li.o-dotlist__item--nostyle
              strong Tomas Bata University in Zlín
            li Faculty of Multimedia Communications
            li Studio of Advertising Photography
            li Štefánikova 2431 
            li 760 01 Zlín , Czech Republic
          a.o-button(href="https://www.google.cz/maps/place/Fakulta+multimedi%C3%A1ln%C3%ADch+komunikac%C3%AD+-+Univerzita+Tom%C3%A1%C5%A1e+Bati+ve+Zl%C3%ADn%C4%9B/@49.222629,17.666185,17z/data=!3m1!4b1!4m2!3m1!1s0x47137351d4a3ea5f:0x7849cff7f016b8bd") Map
          br
          a.o-button(href="https://www.facebook.com/reklamnifotografie?fref=ts") Facebook
          br
          a.o-button(href="http://www.utb.cz/fmk/struktura/reklamni-fotografie") TBU