extends templates/_basic

append template-variables
  - var pageSettings = {index: 2}

block template-body
  include partials/_header

  main.l-container
    .l-wrap
      h1.t-subhead All Exhibitions
      - var peopleCount = 20
      include partials/_people
      hr.l-divider

      section.o-loop
        each instance, index in [386, 345, 343, 313]
          article.o-loop__item(data-random="o-loop__item")
            .o-loop__title
              h2.t-h2 Exhibition Name
              span.t-date 27/10/2014
            .o-loop__thumbnail
              img.o-loop__image(src="http://unsplash.it/800/500/?image=#{instance}", alt="unsplash.it")
            .o-loop__content.o-color-block(data-random="o-color-block")
              p Chosen photographs represent visualization of given problems or topics which were sketched. They actually originated as attempts, which – despite a real reason – gain a character of a childish game, which is, however, an ironic answer to the situation. Cheapjack, trivial and superficial humour, which serves as a simple defence against outside world, is also an important part. A high visual impressiveness of some attempts became a big problem.
            .o-loop__aside
              - var peopleCount = 10
              include partials/_people--static
            .o-loop__photo(data-random="o-loop__photo")
              img.o-loop__image(src="http://unsplash.it/800/500/?image=#{instance + 10}", alt="unsplash.it")
            .o-loop__photo(data-random="o-loop__photo")
              img.o-loop__image(src="http://unsplash.it/800/500/?image=#{instance + 20}", alt="unsplash.it")