extends templates/_basic

append template-variables
  - var pageSettings = {index: 0}

block template-body
  include partials/_header

  main.l-container
    .l-wrap
      section.o-loop
        each instance, index in [386, 345, 343, 313, 242]
          article.o-loop__item(data-random="o-loop__item")
            .o-loop__title
              h1.t-h1 News Title
              span.t-date 27/10/2014
            .o-loop__thumbnail
              img.o-loop__image(src="http://unsplash.it/600/400/?image=#{instance}", alt="unsplash.it")
            .o-loop__content.o-color-block(data-random="o-color-block")
              p The old man babbled on, unheeded by the boys, who were long accustomed to his garrulousness, and whose vocabularies, besides, lacked the greater portion of the words he used.
      a.o-loop__footer.o-button(href="archive") Archive