extends templates/_basic

append template-variables
  - var pageSettings = {index: 1}

block template-body
  include partials/_header

  main.l-container
    .l-wrap
      h1.t-subhead Students
      - var peopleCount = 20, personSelected = 1
      include partials/_people
      hr.l-divider--small
      h2.t-subhead Graduates
      - var peopleCount = 20, personSelected = null
      include partials/_people
      .m-person
        .m-person__name
          h1.t-h1 Matyáš Pasparta
        .m-person__bio.o-color-block(data-random="o-color-block")
          p Author bio. The series Research consists of several attempts, thoughts and observations I was persistently interested in but had no time to devote my time to. The Research thus represents a partial resolving of questions which were not resolved before. It was made on the basis of a theoretical examination of photography as a means of expression.
        .m-person__contact
          ul.o-dotlist--stacked.o-color-block(data-random="o-color-block")
            li: a(href="#") www.portfolio.com
            li: a(href="#") matyas@pasparta.com
      section.o-loop
        each instance, index in [386, 345, 343, 313]
          article.o-loop__item(data-random="o-loop__item")
            .o-loop__title
              h2.t-h2 Project Title
            .o-loop__thumbnail
              img.o-loop__image(src="http://unsplash.it/600/400/?image=#{instance}", alt="unsplash.it")
            .o-loop__content.o-color-block(data-random="o-color-block")
              p Chosen photographs represent visualization of given problems or topics which were sketched. They actually originated as attempts, which – despite a real reason – gain a character of a childish game, which is, however, an ironic answer to the situation. Cheapjack, trivial and superficial humour, which serves as a simple defence against outside world, is also an important part. A high visual impressiveness of some attempts became a big problem. I thus chose – on purpose – the least successful ones or the attempt was repeated. Visuality is freed from any impressiveness; its function is merely descriptive. Its origin results from a long-time process called deskilling – getting rid of gained skills and one ́s own style in order to create a universal non-verified photography.
            //- ul.o-gallery
            //-   each instance, index in [211, 105, 332, 59, 366]
            //-     li.o-gallery__item
            //-       a.o-gallery__link(href="http://unsplash.it/800/480/?image=#{instance}", data-lightbox)
            //-         img.o-gallery__image(src="http://unsplash.it/200/120/?image=#{instance}", alt="unsplash.it") 