a {
  &:link {
    color: $c-link;
  }
  &:visited {
    color: $c-visited;
  }
  @include state--active {
    color: $c-hover;
  }
}
nav a {
  text-decoration: none;
}

.t-link--simple {
  text-decoration: none;
  span {
    border-bottom: $line--s solid;
    padding-bottom: em($ratio--xxs);
  }
}