[class^="t-caps"],
[class*=" t-caps"] {
  letter-spacing: .125em;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: $font__mono--regular;
}
.t-caps--small {
  font-size: em($unit--xs);
}
.t-date {
  font-family: $font__mono;
  font-size: em($unit--s);
  letter-spacing: .25em;
}