.t-h1 {
  font-size: em($unit--l);
  font-family: $font__sans;
  font-weight: $font__sans--bold;
  @include margin(em($ratio--xs) null);
  letter-spacing: .0625em;
}
.t-h2 {
  font-size: em($unit--l);
  font-family: $font__sans;
  font-weight: $font__sans--regular;
  @include margin(em($ratio--xs) null);
  letter-spacing: .125em;
}
.t-h3 {
  font-size: em($ratio--b);
}
.t-h4 {
  font-size: em($ratio--b);
}