.t-h1 {
  font-size: em($ratio--l);
  font-family: $font--serif;
  font-weight: $serif--regular;
  @include margin(em($ratio--xs) null);
  letter-spacing: .0625em;
  line-height: 1.1;
}
.t-h2 {
  font-size: em($unit--l);
  font-family: $font--serif;
  @include margin(em($ratio--xs) null);
  letter-spacing: .125em;
}
.t-h3 {
  font-size: em($ratio--b);
  line-height: 1.3;
}
.t-h4 {
  font-size: em($ratio--b);
}